@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,500;0,600;0,700;1,300&display=swap');
*{

  font-family: 'Rubik', sans-serif;
  direction: rtl;

}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  direction: rtl;
}
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: #242525;
}

::-webkit-scrollbar-thumb {
  background-color: #5a5959;
  border-radius: 5px;
}
.info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.5em;
}
.App{
  height: 100vh;
  width: 100%;
  justify-content: center;
  gap: 1rem;
}
input{
  height: 6vh;
  width: 100%;
  font-size: 1em;
}
.srch{
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin: 1rem;
  margin-bottom: 2rem;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
